html{
	font-size:12px;
	color:#656565;
	font-weight:normal;
    font-family:"Arial","Microsoft YaHei","Tahoma",'宋体';
}
#container{
	overflow:hidden;
    background:#f2f0f5;
    padding:10px 0px 10px 0;
    width:100%;
}
#container>div{
	width:99%;
	margin:0px auto;
	border-radius:2px;
	overflow:hidden;
	padding-right:10px;
}
#title{
	background:#548fc9;
	height:30px;
	line-height:30px;
	padding-left:20px;
}
#title>span:nth-child(1){
	color:yellow;
}
#title>span:nth-child(2){
	color:#fff;
}
#table-main{
	width:100%;
	border-top:1px solid #548fc9;
	border-left:1px solid #548fc9;
}
#table-main td{
	border-right:1px solid #548fc9;
	border-bottom:1px solid #548fc9;
	height:24px;
	line-height:24px;
}

#table-main tr:nth-child(5) td{
	font-weight:bold;
	text-align:center;
}
#table-main tr td:nth-child(1){
	text-align:center;
	width:80px;
}
#table-main tr td:nth-child(3){
	text-align:center;
	width:60px;
}
.import{
	color:red;
}
#table-main tr:hover{
	background:#fff;
	color:black;
}
#table-main span{
	color:red;
}
#footer{
	display:flex;
	justify-content:space-between;
	border-top:1px solid #548fc9;
	margin-top:20px;
}